<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flickity - wrapAround</title>
  <meta name="viewport" content="width=device-width">
  
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <p><code>wrapAround: true</code></p>

<!-- Flickity HTML init -->
<div class="gallery js-flickity"
  data-flickity-options='{ "wrapAround": true }'>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
